<div class="text-center section-header">
  <h2 class="funny-red-font">All topics</h2>
</div>

<div class="list-group instances-list">
  <%= render @instances, users_all: @users_all %>
</div>

<div class="instance-control text-right">
  <% if can? :create, Instance %>
    <%= link_to 'Submit New Topic', new_instance_path, class: 'btn btn-success' %>
  <% end %>
</div>
