<section class="instance">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= render 'rooms/rooms', rooms: @instance.rooms_sorted_by_last_message %>
      </div>
      <div class="col-sm-6">
        <div class="text-center section-header">
          <h2 class="funny-red-font">Active thread</h2>
          <h5 class="funny-red-font">Only the replies to the one thread you selected</h5>
        </div>

         Select a thread on the left to view the conversation.
      </div>
    </div>
  </div>
</section>
