@charset "UTF-8";

@import "bootstrap-sprockets";
@import "bootstrap";

textarea {
  resize: none;
}

.form-control {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.instance-private-url {
  margin-top: 10px;
}
