@charset "UTF-8";

@import "bootstrap-sprockets";
@import "bootstrap";

textarea {
  resize: none;
}

.form-control {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.instance-private-url {
  margin-top: 10px;
}

.instance-select-moderators {
  margin-top: 10px;

  .select2 {
    margin: 5px 0;
  }
}

.funny-red-font {
  font-family: 'Rock Salt', cursive;
  color: #F10000
}
