default: &default
  adapter: postgresql
  pool: 5
  username:
  host:
  password:

development:
  <<: *default
  database: threads_development

test:
  <<: *default
  database: threads_test

production:
  <<: *default
  database: threads_production
