<div class="text-center section-header">
  <%= image_tag("juryx-allthreads.png") %>
</div>

<div class="list-group room-list">
  <%= render rooms %>
</div>

<div class="room-control">
  <% if can? :create_room_in, @instance %>
    <%= link_to 'Submit New Thread', new_room_instance_path(@instance), class: 'btn btn-success' %>
  <% end %>
</div>
