<%= link_to room_path(room), class: 'list-group-item' do %>
<div class="media room-item" data-room-id="<%= room.id %>">
<div class="media-left">
</div>
<div class="media-body">
<h4 class="media-heading"><%= room.title %> <span class="badge"><%= room_unread_messages(room) %></span></h4>
</div>
</div>
<% end %>
