<div class="text-center section-header">
  <h2 class="funny-red-font">All threads</h2>
  <h5 class="funny-red-font">All of the threads for this selected topic</h5>
</div>

<div class="list-group room-list">
  <%= render rooms %>
</div>

<div class="room-control">
  <% if can? :create_room_in, @instance %>
    <%= link_to 'Start New Thread', new_room_instance_path(@instance, access_token: params[:access_token].present? ? params[:access_token]:nil), class: 'btn btn-success' %>
  <% end %>
</div>
