<section class="room">
  <div class="container">
    <div class="room-control">
      <button class="btn btn-primary">Add Room</button>
    </div>

    <div class="list-group">
      <%= render @rooms %>
    </div>
  </div>
</section>
