<section class="room">
  <div class="container">
    <h2 class="text-center">Rooms</h2>

    <div class="list-group">
      <%= render @rooms %>
    </div>

    <div class="room-control">
      <%= link_to 'Add Room', new_room_path, class: 'btn btn-success' %>
    </div>
  </div>
</section>
