<section class="room">
  <div class="container">
    <div class="room-control">
      <button class="btn-primary">Add</button>
    </div>

    <div class="room-list">
      <%= render @rooms %>
    </div>
  </div>
</section>
