@charset "UTF-8";

@import "base/base";

@import "layout/header";
@import "layout/footer";

.login {
  width: 400px;
}

.login-form {
  padding: 20px;
  margin: 0 auto;
}

.login-options {
  margin-top: 10px;
  a {
    display: block;
  }
}

.message-area {
  height: 420px;
  overflow-y: scroll;
  background: #f3f3f3;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.room-control {
  margin-top: 20px;
  text-align: right;
}

.footer {
  margin-top: 30px;
  text-align: center;
}
