.dropdown-menu {
  padding: 10px;
  max-width: 200px;
  margin-top: -10px;

  a {
    padding: 3px 5px;
  }

  hr {
    margin: 5px 0;
  }

  /* To force Firefox to render it properly... */
  input {
    &[type=text] {
      width: 100%;
    }
  }
}
