.room-chat {
  .room-chat-header {
    position: relative;

    .room-chat-expander {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      font-size: 24px;
    }
  }

  .room-chat-header-title {
    max-width: 800px;
    margin: 0 auto;
    overflow-wrap: break-word;
    max-height: 200px;
    overflow: hidden;
    padding: 0 20px;

    &.room-chat-header-title-long {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-image: linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
      }
    }
  }

  .message-area {
    height: 420px;
    overflow-y: scroll;
    background: #f3f3f3;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;

    .dropdown-menu {
      visibility: hidden;
    }

    &.message-area-editor {
      .dropdown-menu {
        visibility: visible;
        max-width: none;
        margin-top: 0;
        right: auto;
      }

      .message-item {
        &.message-item-extra {
          .message-user {
            cursor: pointer;
          }
        }
      }
    }

    @media (min-width: 768px) {
        flex-grow: 1;
    }
  }
}
