.room-chat-rooms {
  h2 {
    margin-top: 0;
  }
}

.room-list {
  @media (min-width: 768px) {
    overflow-y: auto;
    flex: 1 1 auto;
    min-height: 0;
    padding-right: 5px;
  }

  .room-item {
    .media-right {
      vertical-align: middle;
    }
  }
}
