div.room-list::-webkit-scrollbar,
div.instances-list::-webkit-scrollbar {
    width: 6px;
}

div.room-list::-webkit-scrollbar-track,
div.instances-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

div.room-list::-webkit-scrollbar-thumb,
div.instances-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(241,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

div.room-list::-webkit-scrollbar-thumb:window-inactive,
div.instances-list::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(241,0,0,0.4);
}
